
.dj-main {padding: 0 !important;margin: 0 !important;list-style: none;height:40px;position: relative;z-index: 500;width: auto;}

.dj-main li.dj-up {position: relative;display: block;float: left;margin: 0 !important;padding: 0 !important;}
.dj-main li a.dj-up_a {display: block;float: left;height: 40px;line-height: 40px;color: #fff;text-decoration: none;cursor: pointer;}

.dj-main li a.dj-up_a span {float: left;display: block;padding: 0 35px;height: 40px;background: url(../images/main-nav-bg.png) right top repeat-x;}

.dj-main li a.dj-up_a span.dj-drop {padding: 0 35px;background: url(../images/main-nav-bg.png) repeat-x right top;}

.dj-main li:hover a.dj-up_a, .dj-main li.active a.dj-up_a {color: #fff;}

.dj-main li:hover a.dj-up_a span, .dj-main li.active a.dj-up_a span {background: url(../images/main-nav-bg-active.png) repeat-x right top;}

.dj-main li:hover a.dj-up_a span.dj-drop, .dj-main li.active a.dj-up_a span.dj-drop {background: url(../images/main-nav-bg-active.png) repeat-x right top;}

.dj-main li.separator > a {cursor: default;}

.dj-main li a.dj-up_a span span.image-title {background: none;padding: 0 0 0 5px;display: inline;float: none;height: auto;}

.dj-main img {border: 0;margin: 0;}

/* Default list styling */
.dj-main li.hover {position: relative;z-index: 200;}
.dj-main li.hover ul.dj-submenu {left: 1px;top: 40px;background:#fff;width:260px;height: auto;z-index: 300;border:1px solid #ccc;}
.dj-main li.hover ul.dj-submenu li {display:block;height:auto;position: relative;float: left;width: 260px;font-weight: normal;}
.dj-main li.hover ul.dj-submenu li a {display:block;height: auto;line-height: 18px;text-decoration: none;padding:10px 20px;color:#666666;}
.dj-main li ul.dj-submenu li a.dj-more {background:#fff;}

.dj-main li:hover ul.dj-submenu li a:hover, 
.dj-main li ul.dj-submenu li a.active, 
.dj-main li ul.dj-submenu li li a.active, 
.dj-main li ul.dj-submenu li li li a.active {
    background: url(../images/main-nav-bg-active.png) repeat-x right top #11a9cb;color: #fff;
}

.dj-main li:hover ul.dj-submenu li a.dj-more:hover {background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;color: #fff;}
.dj-main li:hover ul.dj-submenu li a.dj-more-active {background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;color: #fff;}
.dj-main li:hover ul.dj-submenu li a.dj-more-active:hover {border-color: #fff;background: #3f96a9 url(../images/arrow_over.gif) 180px 6px no-repeat;}

.dj-main li:hover li:hover ul, .dj-main li:hover li:hover li:hover ul, .dj-main li:hover li:hover li:hover li:hover ul, .dj-main li:hover li:hover li:hover li:hover li:hover ul {left: 190px;top: -4px;background: #50b5d0;border: 1px solid #0b4d97;white-space: nowrap;width: 190px;z-index: 400;height: auto;}

.dj-main ul, .dj-main li:hover ul ul, .dj-main li:hover li:hover ul ul, .dj-main li:hover li:hover li:hover ul ul, .dj-main li:hover li:hover li:hover li:hover ul ul {position: absolute;left: -9999px;top: -9999px;width: 0;height: 0;margin: 0;padding: 0;list-style: none;}

.dj-main li:hover li:hover a.dj-more, .dj-main li:hover li:hover li:hover a.dj-more, .dj-main li:hover li:hover li:hover li:hover a.dj-more, .dj-main li:hover li:hover li:hover li:hover li:hover a.dj-more {color: #fff;border-color: #fff;
}

.dj-main li:hover li:hover li a.dj-more, .dj-main li:hover li:hover li:hover li a.dj-more, .dj-main li:hover li:hover li:hover li:hover li a.dj-more {color: #000;border-color: #ccc;
}
