/**
 * NoNumber Page stylesheet
 *
 * @package         Sliders
 * @version         3.4.0
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/css/sliders/style.min.css
 */
.nn_sliders .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.nn_sliders .fade.in {
  opacity: 1;
}
.nn_sliders .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.nn_sliders .collapse.in {
  height: auto;
}
.nn_sliders.accordion {
  margin-bottom: 18px;
}
.nn_sliders.accordion > .accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nn_sliders.accordion > .accordion-group .accordion-heading {
  border-bottom: 0;
}
.nn_sliders.accordion > .accordion-group .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.nn_sliders.accordion > .accordion-group > .accordion-body.in:hover {
  overflow: visible;
}
@font-face {
  font-family: 'IcoMoon';
  src: url('../../jui/fonts/IcoMoon.eot');
  src: url('../../jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../jui/fonts/IcoMoon.svg#IcoMoon') format('svg'), url('../../jui/fonts/IcoMoon.woff') format('woff'), url('../../jui/fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.nn_sliders.accordion > .accordion-group {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.nn_sliders.accordion > .accordion-group .panel-heading {
  padding: 0;
}
.nn_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.nn_sliders.accordion > .accordion-group > .accordion-heading > a.accordion-toggle:hover {
  background-color: #eeeeee;
  color: #005580;
  text-decoration: none;
}
.nn_sliders.accordion > .accordion-group.active > .accordion-heading > a.accordion-toggle {
  background-color: #f8f8f8;
  color: #0088cc;
}
.nn_sliders.accordion > .accordion-group > div > a:focus,
.nn_sliders.accordion > .accordion-group.active > div > a:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 2px #eab03f;
  box-shadow: inset 0 0 2px #eab03f;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner {
  padding: 15px;
  overflow-y: hidden !important;
  overflow-x: auto;
  *zoom: 1;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner:before,
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner:after {
  clear: both;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner > :first-child {
  margin-top: 0;
}
.nn_sliders.accordion > .accordion-group > .accordion-body > .accordion-inner > :last-child {
  margin-bottom: 0;
}
.nn_sliders.accordion > .accordion-group.icon a.accordion-toggle span.nn_sliders-toggle-inner:before {
  display: inline-block;
  *margin-right: .3em;
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
  content: "\2a";
}
.nn_sliders.accordion > .accordion-group.icon.active a.accordion-toggle span.nn_sliders-toggle-inner:before {
  content: "\4b";
}
.nn_sliders.accordion > .accordion-group.blue {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #74b4e8;
}
.nn_sliders.accordion > .accordion-group.blue:hover,
.nn_sliders.accordion > .accordion-group.blue.active {
  border-top-color: #2384d3;
}
.nn_sliders.accordion > .accordion-group.primary {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #74b4e8;
}
.nn_sliders.accordion > .accordion-group.primary:hover,
.nn_sliders.accordion > .accordion-group.primary.active {
  border-top-color: #2384d3;
}
.nn_sliders.accordion > .accordion-group.info {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #6fc2da;
}
.nn_sliders.accordion > .accordion-group.info:hover,
.nn_sliders.accordion > .accordion-group.info.active {
  border-top-color: #2f96b4;
}
.nn_sliders.accordion > .accordion-group.green {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #91c991;
}
.nn_sliders.accordion > .accordion-group.green:hover,
.nn_sliders.accordion > .accordion-group.green.active {
  border-top-color: #51a351;
}
.nn_sliders.accordion > .accordion-group.success {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #91c991;
}
.nn_sliders.accordion > .accordion-group.success:hover,
.nn_sliders.accordion > .accordion-group.success.active {
  border-top-color: #51a351;
}
.nn_sliders.accordion > .accordion-group.orange {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #fbbf69;
}
.nn_sliders.accordion > .accordion-group.orange:hover,
.nn_sliders.accordion > .accordion-group.orange.active {
  border-top-color: #f89406;
}
.nn_sliders.accordion > .accordion-group.warning {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #fbbf69;
}
.nn_sliders.accordion > .accordion-group.warning:hover,
.nn_sliders.accordion > .accordion-group.warning.active {
  border-top-color: #f89406;
}
.nn_sliders.accordion > .accordion-group.red {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #dd7a75;
}
.nn_sliders.accordion > .accordion-group.red:hover,
.nn_sliders.accordion > .accordion-group.red.active {
  border-top-color: #bd362f;
}
.nn_sliders.accordion > .accordion-group.danger {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #dd7a75;
}
.nn_sliders.accordion > .accordion-group.danger:hover,
.nn_sliders.accordion > .accordion-group.danger.active {
  border-top-color: #bd362f;
}
.nn_sliders.accordion > .accordion-group.error {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #dd7a75;
}
.nn_sliders.accordion > .accordion-group.error:hover,
.nn_sliders.accordion > .accordion-group.error.active {
  border-top-color: #bd362f;
}
.nn_sliders.accordion > .accordion-group.grey {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #b3b3b3;
}
.nn_sliders.accordion > .accordion-group.grey:hover,
.nn_sliders.accordion > .accordion-group.grey.active {
  border-top-color: #808080;
}
.nn_sliders.accordion > .accordion-group.gray {
  border-top: 5px solid #e5e5e5;
  -webkit-border-radius: 5px 5px 4px 4px;
  -moz-border-radius: 5px 5px 4px 4px;
  border-radius: 5px 5px 4px 4px;
  border-top-color: #b3b3b3;
}
.nn_sliders.accordion > .accordion-group.gray:hover,
.nn_sliders.accordion > .accordion-group.gray.active {
  border-top-color: #808080;
}
.nn_sliders.accordion .nn_sliders-scroll {
  position: relative;
  visibility: hidden;
}
