table.insurediy-table-plans .td-first.insurediy-form::-webkit-input-placeholder,
.insurediy-form:-moz-placeholder,
.insurediy-form::-moz-placeholder,
.insurediy-form:-ms-input-placeholder{
    color: #0C85B2;
    font-weight: bold;
}
.insurediy-form {
    background-color: #f2f2f2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-top: -26px;
}
.insurediy-form *,
.insurediy-form *:before,
.insurediy-form *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.insurediy-form .control-row {
    margin-bottom: 20px;
}
.insurediy-form .h1-heading {
    color: #fff;
    font-family: sourcesanspro-semibold;
    font-size: 34px;
    line-height: 26px;
    float: left;
    margin: 0;
    padding: 16px 0 16px 16px;
}
.insurediy-form .insurediy-form-content {
    padding: 30px 20px;
    margin-top: 60px;
}
.insurediy-form .calculator {
    float: right;
    padding: 7px 10px 7px 0;
}
.insurediy-form .insurediy-form-fields label {
    font-weight: 700;
    font-family: arial;
    font-size: 14px;
}
.insurediy-form .insurediy-form-fields label.error {
    font-weight: 400;
    color: red;
}
.insurediy-form .insurediy-form-fields div.error-container label.error {
    display: block!important;
}
.insurediy-form .insurediy-agreements label {
    color: #666;
}
.insurediy-form .insurediy-agreements label.error {
    color: red;
}
.insurediy-form select {
    width: 94%;
    height: 40px;
}
.insurediy-form input[type=text],
.insurediy-form input[type=email] {
    height: 38px;
}
.insurediy-form .control-label {
    margin-bottom: 10px;
    width: 95%;
}
.insurediy-form .controls {
    /*width: 95%;*/
    position: relative;
}
.insurediy-form .controls input[type=text],
.insurediy-form .controls input[type=email] {
    width: 94%;
    padding: 4px 12px;
    height: 38px;
}
.insurediy-form select,
.insurediy-form .chzn-container-single .chzn-single {
    height: 35px;
}
.insurediy-form .chzn-search input[type=text] {
    min-width: 100%;
}
.insurediy-form .controls input.hasDatepicker {
    width: 138px;
    height: 39px;
}
.insurediy-form .controls #jform_dob_img {
    background: none;
    background-color: #fff;
    border-left: 0;
    border-color: #ccc;
}
.insurediy-form #jform_weight_amt,
.insurediy-form #jform_height_amt {
    width: 200px;
    direction: rtl;
}
.insurediy-form .chzn-container .chzn-drop {
    z-index: 4;
    min-width: 100%;
}
.insurediy-form .ico-insurediy {
    background: url(../images/icon/icon-insurediy-life.png) no-repeat 16px 10px;
}
.insurediy-form .ico-insurediy-details {
    background: url(../images/icon/icon-details.png) no-repeat 21px 12px;
}
.insurediy-form .ico-insurediy-contact-details {
    background: url(../images/icon/icon-contact-details.png) no-repeat 21px 12px;
}
.insurediy-form .ico-insurediy-confirm-order {
    background: url(../images/icon/icon-insurediy-confirm-order.png) no-repeat 21px 15px;
}
.insurediy-form .ico-insurediy-final-steps {
    background: url(../images/icon/icon-insurediy-final-steps.png) no-repeat 21px 15px;
}
.insurediy-form .insurediy-details-edit {
    background: url(../images/icon/icon-edit.png) no-repeat;
    width: 78px;
    height: 26px;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
}
.insurediy-form .insurediy-detail-save-quotation {
    float: right;
    background: url(../images/save-your-quotation-box.png) repeat-x;
    width: 60%;
    height: 82px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-top: 15px;
    margin-right: 15px;
}
.insurediy-form .insurediy-life-cover-options {
    margin-bottom: 0;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px 15px;
}
.insurediy-form .insurediy-life-cover-options .title {
    font-family: sourcesansprobold;
    font-size: 18px;
    color: #0c85b2;
}
.insurediy-form .insurediy-life-cover-options input[type=text] {
    height: 20px;
    background: #f0f0f0;
}
.insurediy-form .insurediy-life-cover-options #insurediy-cvrlgth1,
.insurediy-form .insurediy-life-cover-options #insurediy-cvrlgth2 {
    float: left;
    width: 150px;
}
.insurediy-form .insurediy-life-cover-options .chzn-container-single .chzn-single {
    background: #f0f0f0;
    width: 150px;
}
.insurediy-form .insurediy-life-cover-options .chzn-container-single .chzn-drop {
    width: 162px!important;
}
.insurediy-form label{font-family:arial;font-weight:bold;font-size:14px;}

/* Plan Options */

.insurediy-form .insurediy-plan-options {
    margin-bottom: 0;
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px 15px;
    margin-top: 62px;
}
.insurediy-form .insurediy-plan-options .title {
    font-family: sourcesansprobold;
    font-size: 18px;
    color: #0c85b2;
}
.insurediy-form .insurediy-plan-options input[type=text] {
    height: 20px;
    background: #f0f0f0;
}
.insurediy-form .insurediy-plan-options .chzn-container-single .chzn-single {
    background: #f0f0f0;
    width: 150px;
}
.insurediy-form .insurediy-plan-options .chzn-container-single .chzn-drop {
    width: 162px!important;
}
/* Plan Options End */

.insurediy-form .insurediy-life-detail-questions-forms {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
}
.insurediy-form .insurediy-life-detail-questions-forms .column1 {
    font-weight: 700;
    vertical-align: top;
    padding: 15px 2px 10px 15px;
		}
.insurediy-form .insurediy-life-detail-questions-forms .column2 {
    vertical-align: top;
    width: 80%;
    padding: 15px 15px 10px 0;
}
.insurediy-form .insurediy-life-detail-questions-forms .column2 .description {
    color: #666;
    line-height: 20px;
    display: block;
    margin: 10px 0;
}
.insurediy-form .insurediy-life-detail-questions-forms .column3 {
    border-left: 1px solid #ccc;
    vertical-align: top;
    width: 20%;
    font-weight: 700;
    padding: 15px 15px 10px;
}
.insurediy-form-fields {
    margin-bottom: 20px;
}
.insurediy-form-fields #insurediy-cvrlgth2 .chzn-container-single .chzn-single {
    width: 430px;
}
.insurediy-form-fields #insurediy-cvrlgth2 .chzn-container-single .chzn-drop {
    width: 442px!important;
}
.insurediy-form-fields .chzn-search input {
    /*width:94%!important;*/
    /*height:20px;*/
}
.insurediy-form .help-quote {
    background: url(../images/help-quote.png) no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 17px;
    cursor: pointer;
}
.insurediy-form .header2bg {
    background: url(../images/header2.png) repeat-x;
    width: 100%;
    height: 44px;
    font-family: sourcesanspro-semibold;
    font-size: 18px;
    color: #004058;
}
.insurediy-form .ico-question-mark {
    background: url(../images/icon/header-question-mark.png) no-repeat 15px 8px;
    height: 44px;
    padding: 10px 0 0 55px;
}
.insurediy-form .ico-quotation-mark {
    background: url(../images/icon/header-quotation-mark.png) no-repeat 0 8px;
    height: 25px;
    font-family: sourcesanspro-semibold;
    font-size: 18px;
    color: #004058;
    max-width: 176px;
    margin: auto;
    padding: 10px;
}
.insurediy-form .length-of-cover-icon {
    background: url(../images/icon/ico-lengthofcover.png) no-repeat;
    width: 264px;
    height: 32px;
    float: left;
    margin-left: 10px;
}
.insurediy-form .ico-cart {
    background: url(../images/icon/ico-cart.png) no-repeat 15px 8px;
    height: 25px;
    padding: 10px 0 20px 50px;
}
.insurediy-form .ico-contact {
    background: url(../images/icon/ico-contact.png) no-repeat 15px 8px;
    height: 25px;
    padding: 10px 0 20px 50px;
}
.insurediy-form .ico-declarations {
    background: url(../images/icon/icon-important.png) no-repeat 15px 8px;
    height: 25px;
    padding: 10px 0 20px 50px;
}
.insurediy-form .ico-identity-card {
    background: url(../images/icon/ico-identity-card.png) no-repeat 15px 8px;
    height: 25px;
    padding: 10px 0 20px 55px;
}
.insurediy-form .ico-location-gps {
    background: url(../images/icon/ico-location-gps.png) no-repeat 20px 8px;
    height: 25px;
    padding: 10px 0 20px 55px;
}
.insurediy-form .ico-or-label {
    background: url(../images/icon/ico-or-label.png) no-repeat;
    width: 32px;
    height: 20px;
    left: 50%;
    top: -10px;
    position: absolute;
}
.insurediy-form table.insurediy-table-quotations .checkbox {
    width: 33px;
    height: 33px;
    background: url(../images/icon/ico-purchase-checkbox.png) no-repeat;
    display: block;
    float: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 0 5px 0 0;
}
.insurediy-form table.insurediy-table-quotations .column1 {
    font-weight: 700;
    font-size: 14px;
    font-family: arial;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #2f2f2f;
}
.insurediy-form table.insurediy-table-quotations .column-n {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #4e4e4e;
    vertical-align: top;
}
.insurediy-form table.insurediy-table-quotations td {
    padding: 10px 20px;
}
.insurediy-form-content {
    background-color: #f2f2f2;
    margin-top: 60px;
    padding: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.insurediy-form .header-top {
    background: url(../images/header-top.png) repeat-x;
    width: 100%;
    height: 62px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-size: contain;
}
.insurediy-form .header-top-wrapper {
    position: fixed;
    z-index: 5;
    width: 958px;
    margin-top: -1px;
}
.insurediy-form .controls.input-padding input {
    padding-left: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 39px;
    width: 354px;
}
.insurediy-form .contact-details-fields .row-left {
    float: left;
    width: 42%;
    padding-right: 10px;
}
.insurediy-form .contact-details-fields .row-mid {
    width: 0;
    height: 400px;
    float: left;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}
.insurediy-form .contact-details-fields .row-right {
    float: left;
    padding-left: 10px;
    width: 56.5%;
}
.insurediy-form .contact-details-fields .controls input,
.insurediy-form .contact-details-fields .controls {
    width: 99%!important;
}
.insurediy-form .insurediy-life-log-in,
.insurediy-form .insurediy-life-register {
    width: 45%;
    float: left;
}
.insurediy-form #login-form input {
    width: 408px;
    height: 37px;
    padding: 4px 8px;
}
.insurediy-form h2 {
    font-size: 34px;
    color: #004058;
    margin-bottom: 25px;
}
.insurediy-form .mid-line {
    border-right: 1px solid #d8d8d8;
    height: 100px;
    margin-right: 50%;
}
.insurediy-form .or-btn,
.insurediy-form .or-btn:hover {
    cursor: default;
    font-size: 14px!important;
    color: #FFF;
    padding: 4px;
}
.insurediy-form #load-ownership-of-company .input-file {
    width: 200px;
    background-color: #f0f0f0;
    margin: 0 20px;
}
.insurediy-form .box-sized-input .controls input[type=text] {
    width: 100%!important;
    height: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.insurediy-form input,
.insurediy-form textarea {
    color: #0c85b2;
    font-family: arial;
    font-size: 13px;
}
.insurediy-form .control-group-contact-detail-room-no,
.insurediy-form .control-group-contact-detail-floor-no,
.insurediy-form .control-group-contact-detail-block-no {
    float: left;
    width: 20%;
}
.insurediy-form .control-group-contact-detail-building-name,
.insurediy-form .control-group-contact-detail-street-name,
.insurediy-form .control-group-contact-detail-district-name,
.insurediy-form .control-group-contact-detail-postalcode,
.insurediy-form .control-group-contact-detail-country,
.insurediy-form .control-group-contact-detail-policy-type,
.insurediy-form .control-group-contact-detail-issuance-date{
    float: left;
    width: 30%;
}
.insurediy-form .control-group-contact-detail-employer-name,
.insurediy-form .control-group-contact-detail-employer-job-nature,
.insurediy-form .control-group-contact-detail-insurer-name,
.insurediy-form .control-group-contact-detail-sum-insured{
    float: left;
    width: 40%;
}
.insurediy-form #contact-details-fields.mychild-fields .cpan3 {
    padding-right: 20px;
}
.insurediy-form #contact-details-fields.mychild-fields select {
    width: 100%;
}
.insurediy-form #contact-details-fields.mychild-fields input.hasDatepicker {
    width: 80%!important;
}
.insurediy-form .sub-title {
    width: 100%;
    min-height: 23px;
    padding-bottom: 10px;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}
.insurediy-form .sub-title.sub-title-maid {
    background: url('../images/icon/icon-helper-details.png') no-repeat;
    line-height: 30px;
}
.insurediy-form .sub-title.sub-title-insurance {
    background: url('../images/icon/icon-insurance-details.png') no-repeat;
}
/*Tables*/

table.insurediy-table-plans * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
table.insurediy-table-plans {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: #fafafa;
		border-collapse:inherit;
}
table.insurediy-table-plans td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 62px;
    vertical-align: middle;
    padding: 0 22px;
}
table.insurediy-table-plans td .center img {
	max-width: 125px;
}
table.insurediy-table-plans .td-first {
    width: 247px;
}
table.insurediy-table-plans .td-inner {
    text-align: center;
    vertical-align: middle;
    max-width: 200px;
    min-width: 118px;
    padding: 0 12px;
}
table.insurediy-table-plans tr.first .td-inner {
    padding: 0;
    height: 86px;
    /*position: relative;*/
}
table.insurediy-table-plans tr.odd td {
    background-color: #f2f2f2;
}
table.insurediy-table-plans tr.even td {
    /*background-color: #f2f2f2;*/
}
table.insurediy-table-plans .logo-container {
    text-align: center;
    max-width: 200px;
    min-width: 118px;
}
table.insurediy-table-plans .logo-container.follow {
    position: fixed;
    opacity: 0.7;
    margin-top: -75px;
}
.btn-primary.btn-rounded {
    padding: 0 20px;
    border-radius: 20px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    height: 33px;
    line-height: 33px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "montserrat-regular";
    font-size: 14px !important;
}
#show-annual-price {
    height: 71px;
    width: 100%;
    margin-bottom: 30px;
}
#show-annual-price .show-annual-price-left,
#show-annual-price .show-annual-price-mid,
#show-annual-price .show-annual-price-right {
    float: left;
}
#show-annual-price .show-annual-price-left {
    background-image: url('../images/icon/upgrade.png');
    width: 89px;
    height: 71px;
}
#show-annual-price .show-annual-price-mid {
    background-color: #fed68e;
    height: 71px;
    width: 812px;
    font-family: "montserrat-regular";
    font-weight: bold;
    padding: 20px 0 20px 20px;
}
#show-annual-price .show-annual-price-mid .show-annual-price-text {
    width: 580px;
    float: left;
    font-size: 11px;
    line-height: 31px;
}
#show-annual-price .show-annual-price-mid .show-annual-price-button {
    width: 200px;
    float: right;
    text-align: right;
    line-height: 31px;
}
#show-annual-price .show-annual-price-right {
    background-image: url('../images/icon/upgrade-right-corner.png');
    height: 71px;
    width: 10px;
}
/* Radios */
.idy-radio .idy-radio-wrapper input[type="radio"] {
    display: none!important;
}
.idy-radio .idy-radio-wrapper label {
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat;
    float: left;
    width: 95px;
    height: 46px;
    background-position: left top;
	line-height: 46px;
	padding: 0 5px 0 63px;
	font-size: 12px!important;
	font-weight: normal!important;
	font-family: "Arial"!important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.idy-radio .idy-radio-wrapper{
	float: left;
}
.idy-radio .idy-radio-wrapper + .idy-radio-wrapper{
	margin-left: 10px;
}
.idy-radio input[type="radio"]:checked + label,
.idy-radio input[type="radio"] + label:hover {
    background-position-y: 92px;
    background-position: left bottom;
	color: #0c85b2;
}
.idy-radio .idy-radio-just-me label {
    background: url(../images/icon/just-me-n.png) no-repeat;
	padding: 0 5px 0 58px;
	width: 105px;
}
.idy-radio .idy-radio-with-family label {
    background: url(../images/icon/with-family-n.png) no-repeat;
    width: 90px;
	padding: 0 5px 0 58px;
}
.idy-radio .idy-radio-with-group label {
    background: url(../images/icon/with-group-n.png) no-repeat;
    width: 91px;
	padding: 0 5px 0 58px;
}
.idy-radio .idy-radio-single-trip label {
    background: url(../images/icon/single-trip-n.png) no-repeat;
    width: 118px;
	padding: 0 0 0 58px;
}
.idy-radio .idy-radio-annual-trip label {
    background: url(../images/icon/annual-trip-n.png) no-repeat;
    width: 134px;
	padding: 0 0 0 58px;
}
.idy-radio .idy-radio-alcohol-yes label {
    background: url(../images/icon/alcohol-yes-n.png) no-repeat;
    width: 92px;
}
.idy-radio .idy-radio-alcohol-no label {
    background: url(../images/icon/alcohol-no-n.png) no-repeat;
    width: 92px;
}
.idy-radio .idy-radio-gender-male label {
    background: url(../images/icon/gender-male-n.png) no-repeat;
    margin-right: 0px;
    width: 93px;
}
.idy-radio .idy-radio-gender-female label {
    background: url(../images/icon/gender-female-n.png) no-repeat;
    width: 106px;
}
.idy-radio .idy-radio-drugs-yes label {
    background: url(../images/icon/drugs-yes-n.png) no-repeat;
    width: 92px;
}
.idy-radio .idy-radio-drugs-no label {
    background: url(../images/icon/drugs-no-n.png) no-repeat;
    width: 92px;
}
.idy-radio .idy-radio-smoke-yes label {
    background: url(../images/icon/smoke-yes-n.png) no-repeat;
    width: 90px;
}
.idy-radio .idy-radio-smoke-no label {
    background: url(../images/icon/smoke-no-n.png) no-repeat;
    width: 90px;
}
.idy-radio .idy-radio-doctor-yes label {
    background: url(../images/icon/doctor-yes-n.png) no-repeat;
    width: 93px;
}
.idy-radio .idy-radio-doctor-no label {
    background: url(../images/icon/doctor-no-n.png) no-repeat;
    width: 93px;
}
.idy-radio .idy-radio-marital-status-married label {
    background: url(../images/icon/marital-status-married-n.png) no-repeat;
	padding: 0 0 0 55px;
    width: 92px;
}
.idy-radio .idy-radio-marital-status-not-married label {
	padding: 0 0 0 58px;
    background: url(../images/icon/marital-status-not-married-n.png) no-repeat;
    width: 132px;
}
/* Lines */

.grey-hrule {
    border-bottom: 1px solid #ccc;
}
/* Dashboard */

#dashboard-area-1 #white-container-1 {
    width: 66.666666666666666%;
    float: left;
}
#dashboard-area-1 #white-container-2 {
    width: 33.333333333333333%;
    float: left;
}
#dashboard-area-1 .white-container-body {
    height: 190px;
}
#dashboard-area-1 .points {
    font-size: 50px;
    display: inline-block;
    margin-bottom: 24px;
}
#dashboard-area-3 .white-container-body,
#dashboard-area-2 .white-container-body {
    height: 240px;
}
#dashboard-area-3 .white-container,
#dashboard-area-2 .white-container,
#dashboard-area-1 .white-container {
    margin: 0 5px;
    font-family: "sourcesanspro-semibold";
}
.chart-area-1 {
    height: 168px;
    margin-top: 30px;
}
.chart-area-2 {
    height: 134px;
    margin: 0 20px;
    margin-top: 34px;
    /*background-image: url("../../../images/dashboard/hospital-chart.png");*/

    background-repeat: no-repeat;
}
/* Contianers */

.white-container {
    background: #FFF;
}
.white-container-header {
    background: #FFF;
    color: #004058;
    font-family: "sourcesanspro-semibold";
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px 0 18px;
    border-bottom: 1px solid #f2f2f2;
}
.white-container-header2 {
    /*background: #FFF;*/

    background: url(../images/header2.png) repeat-x;
    color: #004058;
    font-family: "sourcesanspro-semibold";
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px 0 18px;
    border-bottom: 1px solid #f2f2f2;
}
.white-container-body {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px;
}
.white-container-footer {
    background-color: #fafafa;
    color: #2f2f2f;
    font-size: 18px;
    height: 42px;
    line-height: 42px;
    padding: 0px 10px;
}
/* Custom width class #use with clearfix as parent */

.cpan1 {
    float: left;
    width: 100%;
}
.cpan2 {
    float: left;
    width: 50%;
}
.cpan3 {
    float: left;
    width: 33.333333333%;
}
.cpan4 {
    float: left;
    width: 25%;
}
.cpan5 {
    float: left;
    width: 20%;
}
.cpan25 {
    float: left;
    width: 75%;
}
.cpan35 {
    float: left;
    width: 66.666666666%;
}
.cpan45 {
    float: left;
    width: 75%;
}
.cpan55 {
    float: left;
    width: 80%;
}
/* Typography */

.blue-curreny-text {
    color: #0c85b2;
    font-size: 18px;
    font-family: "sourcesanspro-semibold";
}
.gray-uppercased {
    color: #cacaca;
    font-size: 16px;
    font-family: "sourcesanspro-semibold";
    text-transform: uppercase;
}
.black-uppercased {
    color: #2f2f2f;
    font-size: 16px;
    font-family: "sourcesanspro-semibold";
    text-transform: uppercase;
}
.blue-title-text {
    font-family: sourcesanspro-semibold;
    font-size: 19px;
    color: #004058;
}
.social-fb-msg {
    font-size: 12px;
    height: 50px;
    width: 250px;
    overflow: hidden;
    line-height: 12px;
    color: #000000!important;
    box-sizing: inherit;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
/* Modals */

#ci_popup.custom-modal,
#life_popup.custom-modal {
    background-color: #f2f2f2!important;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    height: 158px;
    width: 368px;
    margin-top: -79px;
    margin-left: -184px;
    font-family: "sourcesanspro-semibold";
}
#ci_popup.custom-modal:before,
#life_popup.custom-modal:before {
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #ececec;
}
#ci_popup.custom-modal:after,
#life_popup.custom-modal:after {
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid #ececec;
}
#ci_popup.modal.fade.in,
#life_popup.modal.fade.in {
    top: 45%;
}
.custom-modal .close {
    font-size: 24px;
    color: #bebebe;
    font-weight: normal;
    text-shadow: 0 1px 0 #e0e0e0;
}
.custom-modal-body-1 {}
/* Calculator */

.c-form .c-form-number {
    width: 5%;
    float: left;
}
.c-form .c-form-label {
    width: 60%;
    margin-right: 5%;
    float: left;
}
.c-form .c-form-label.c-form-label-bold label {
    font-weight: bold;
}
.c-form .c-form-input {
    width: 30%;
    float: left;
    padding-left: 10px;
}
.c-form .c-form-input input {
    width: 90%;
}
.c-form .c-form-input textarea {
    width: 97%;
    min-height: 70px;
}
.c-form .c-form-input select {
    width: 100%;
}
.c-form .c-form-input ul.chzn-results li:before {
    content: "";
}
.c-form .explanation {
    font-style: italic;
}
/* Products */

.product-container {
    width: 100%;
    padding: 10px;
}
.product-container .product-wrapper {
    width: 33.33333333333333%;
    float: left;
    padding: 10px;
}
.product-wrapper .product-image {
    width: 100%;
    height: 157px;
    background-color: #000;
    overflow: hidden;
}
.product-wrapper .product-image img {
    width: 100%;
}
.product-wrapper .product-text {
    width: 100%;
    height: 53px;
    background-color: #FFF;
    text-align: center;
}
.product-text .product-name {
    font-size: 15px;
    font-family: "sourcesanspro-semibold";
    color: #004058;
}
.product-text .product-description {
    font-size: 13px;
    color: #2f2f2f;
    font-family: "sourcesanspro-semibold";
}
.item .product-info {
    border: 1px solid #b1e4e5;
    background-color: #e5fdff;
}
.item .product-info .product-name-desc {
    background-color: #FFF;
    padding: 20px;
    width: 100%;
}
.item .product-info .product-name-desc .product-name {
    text-transform: uppercase;
}
.item .product-info .product-name-desc .product-description {
    font-style: italic;
}
.item .product-info .product-address {
    padding: 20px;
    width: 100%;
    min-height: 100px;
}
.item .product-image img {
    width: 100%;
}
.item .product-about {
    font-family: "sourcesanspro-semibold";
    font-size: 13px;
}
.item .product-about .product-about-title {
    text-transform: uppercase;
}
.item .product-redeem {
    margin-top: 20px;
}
.item .product-redeem .product-redeem-text {
    font-size: 14px;
    width: 90px;
    float: left;
    margin-right: 10px;
}
.item .product-redeem .product-redeem-points {
    width: 90px;
    text-align: center;
    float: left;
    margin: 0 10px;
    margin-top: 7px;
}
/* Random inputs */

.input-country-code {
    max-width: 17%;
    margin-right: 1%;
    text-align: center;
    padding: 4px 12px;
    min-height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-contact-no {
    max-width: 82%;
    padding: 4px 12px;
    min-height: 38px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#jform_insurance_start-lbl {
    line-height: 39px;
}
#jform_promo_code {
    width: 225px;
    height: 25px;
    margin: 0;
}
#jform_referred_by {
    width: 225px;
    margin-bottom: 0px;
    height: 25px;
}
.bb-form #jform_referred_by {
    width: 239px;
    height: 35px;
}
.bb-form #jform_promo_code {
    width: 239px;
    height: 35px;
}
/* Common */

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-custom-small {
    font-size: 19px;
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
a.btn-custom-small:hover,
a.btn-custom-small:focus,
a.btn-custom-small:visited {
    text-decoration: none;
}
.centralized {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.scrolled-box {
    height: 100%;
    overflow-y: scroll;
}
.colorlegend {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
}
#h-gauge {
    background-image: url("../../../images/dashboard/hospital-chart.png");
    /*background-color: rgba(0, 0, 0, 0);*/

    background-repeat: no-repeat;
}
.explanation {
    color: #666;
}
.display_inline {
    display: inline!important;
}
/* Miscellenous */

ul.faq-list-home {
    margin: 0 0 0 15px;
    width: 400px;
    clear: both;
}
ul.faq-list-home li {
    float: left;
    clear: both;
    border-bottom: 1px solid #ccf1ff;
    padding-bottom: 4px;
    margin-bottom: 5px;
    color: #01b0f1;
}
ul.faq-list-home li a {
    text-decoration: none;
    color: #01b0f1;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
}
.header-bold-accordion a.accordion-toggle {
    font-weight: bold;
}
.property-fields-col2,
.property-fields-col1 {
    float: left;
    width: 49%;
}
.box-sized-input .controls input[type=text] {
    width: 100%!important;
    height: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.form-quote-box {
    background: url('../images/get-a-quote-question-box.png') no-repeat;
    width: 630px;
    height: 272px;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 30px 20px 20px 20px;
}
.calculator-login,
.calculator-register {
    width: 47%;
    float: left;
}
.or-btn,
.or-btn:hover {
    cursor: default;
    padding: 4px;
    font-size: 14px!important;
    color: #FFF;
}
.mid-line {
    border-right: 1px solid #d8d8d8;
    height: 100px;
    margin-right: 50%;
}
.calculator-login #login-form input {
    width: 315px;
    padding: 4px 8px;
    height: 27px;
}
.calculator-register #register-form input {
    width: 315px;
    padding: 4px 8px;
    height: 27px;
}
#h-gauge {
    width: 263px!important;
    height: 132px!important;
}
.big-slash {
    background-image: url("../images/big-slash.png");
    width: 13px;
    height: 31px;
    display: inline-block;
}
.premuim-text {
    font-weight: bold;
    /*font-size: 1.2em;*/
}
.btn.btn-primary.pop-up-button {
    height: 30px;
    padding: 5px 20px;
    font-size: 14px !important;
}
@media (min-width: 768px) and (max-width: 1200px) {
    .insurediy-form .header-top-wrapper,
    .insurediy-header-fixed {
        position: absolute;
    }
}
@media (max-width: 767px) {
    .body .container {
        width: 960px;
    }
    .insurediy-form .header-top-wrapper,
    .insurediy-header-fixed {
        position: absolute;
    }
}
#travellers_for_group,
#travellers_for_family {
    display: none;
}
.login-button {
    background-color: #414141;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #58595a;
    border-left: 1px solid #484949;
    border-right: 1px solid #484949;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 13px;
    padding-top: 2px;
    color: #FFF;
    text-decoration: none;
}
.login-button:hover,
.login-button:focus {
    text-decoration: none;
    color: #FFF;
}
.login-close {
    float: right;
    background: url('../images/icon/btn-close.png') no-repeat;
    width: 10px;
    height: 10px;
    display: block;
    margin-top: 12px;
    margin-right: 5px;
    background-size: 100%;
}

.ui-datepicker{
	z-index: 1001!important;
}

.mod-languages .chzn-container .chzn-single,.mod-languages .chzn-container-active.chzn-with-drop .chzn-single {
    background: #0c8ebf;
    color: #fff;
    border: 0;
    height: 25px;
    padding: 1px 0 1px 10px;
    margin: 0;
	box-shadow: none;
}
.mod-languages .chzn-container-single .chzn-single span{
	color: #FFF;
}
.mod-languages .chzn-container-single .chzn-drop{
	background: #0c8ebf;
    color: #fff;
	box-shadow: none;
	border: 0;
}

.mod-languages .chzn-container-single .chzn-drop .chzn-results li{
	color: #FFF;
}
.mod-languages .chzn-container-single .chzn-drop .chzn-results li:hover, .mod-languages .chzn-container-single .chzn-drop .chzn-results li.result-selected{
	background: #FFF;
	color: #0c8ebf;
}
.mod-languages .chzn-container-single .chzn-single div b:after {
	color: #FFF;
    content: '\E011';
    font-family: IcoMoon;
}
.mod-languages .chzn-container-active.chzn-with-drop .chzn-single div b:after {
    content: '\E00F';
    font-family: IcoMoon;
}