@import '~bootstrap-utilities';
@import '~@sweetalert2/theme-material-ui/material-ui.scss';

/* spinner start */
@keyframes ldio-t8qnwyeouh9 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-t8qnwyeouh9 div > div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #5197d5;
  animation: ldio-t8qnwyeouh9 1s linear infinite;
}.ldio-t8qnwyeouh9 div:nth-child(1) > div {
  left: 152px;
  top: 92px;
  animation-delay: -0.9090909090909091s;
}
.ldio-t8qnwyeouh9 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ldio-t8qnwyeouh9 div:nth-child(2) > div {
  left: 142px;
  top: 124px;
  animation-delay: -0.8181818181818182s;
}
.ldio-t8qnwyeouh9 > div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  transform-origin: 150px 132px;
}.ldio-t8qnwyeouh9 div:nth-child(3) > div {
  left: 117px;
  top: 147px;
  animation-delay: -0.7272727272727273s;
}
.ldio-t8qnwyeouh9 > div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  transform-origin: 125px 155px;
}.ldio-t8qnwyeouh9 div:nth-child(4) > div {
  left: 83px;
  top: 151px;
  animation-delay: -0.6363636363636364s;
}
.ldio-t8qnwyeouh9 > div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  transform-origin: 91px 159px;
}.ldio-t8qnwyeouh9 div:nth-child(5) > div {
  left: 53px;
  top: 137px;
  animation-delay: -0.5454545454545454s;
}
.ldio-t8qnwyeouh9 > div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  transform-origin: 61px 145px;
}.ldio-t8qnwyeouh9 div:nth-child(6) > div {
  left: 34px;
  top: 109px;
  animation-delay: -0.45454545454545453s;
}
.ldio-t8qnwyeouh9 > div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  transform-origin: 42px 117px;
}.ldio-t8qnwyeouh9 div:nth-child(7) > div {
  left: 34px;
  top: 75px;
  animation-delay: -0.36363636363636365s;
}
.ldio-t8qnwyeouh9 > div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  transform-origin: 42px 83px;
}.ldio-t8qnwyeouh9 div:nth-child(8) > div {
  left: 53px;
  top: 47px;
  animation-delay: -0.2727272727272727s;
}
.ldio-t8qnwyeouh9 > div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  transform-origin: 61px 55px;
}.ldio-t8qnwyeouh9 div:nth-child(9) > div {
  left: 83px;
  top: 33px;
  animation-delay: -0.18181818181818182s;
}
.ldio-t8qnwyeouh9 > div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  transform-origin: 91px 41px;
}.ldio-t8qnwyeouh9 div:nth-child(10) > div {
  left: 117px;
  top: 37px;
  animation-delay: -0.09090909090909091s;
}
.ldio-t8qnwyeouh9 > div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  transform-origin: 125px 45px;
}.ldio-t8qnwyeouh9 div:nth-child(11) > div {
  left: 142px;
  top: 60px;
  animation-delay: 0s;
}
.ldio-t8qnwyeouh9 > div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  transform-origin: 150px 68px;
}
.loadingio-spinner-spin-vl9cx1jb78l {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-t8qnwyeouh9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-t8qnwyeouh9 div { box-sizing: content-box; }
/* spinner end */

#continue-to-select-model {
    margin: 0px auto;
    display: block;
    float: none;
    clear: both;
}

.insurediy-form .no-login input.input-text {
    width: 300px !important;
    height: 35px !important;
}

.no-login {
    div.panel-left {
        padding-left: 70px !important;
    }
    
    div.panel-right {
        padding-left: 70px !important;
    }
}

.driver-right {
    padding-top: 40px;
}

.tab-header-container {
    width: 100% !important;
}

.display-none {
    display: none;
    animation: fade 1s;
    transition: all 1s;
    opacity: 0;
}

.tab-wrapper {
    opacity: 1;
    transition: all 1s;
}

.add-driver.jquery {
    margin: 80px 40px 20px 20px !important;
}

.input-wrapper {
    padding: 10px 0;
    height: 89px;
}

#adminForm div.input-wrapper {
    padding: 0 0 4px 0;
    height: auto;

    input,
    input[type=text],
    input.input-text.front {
        margin-bottom: auto;
    }
}

.input-wrapper.input-helper {
    height: 120px;
}

.field-helper-select {
    padding-left: 8px;
    display: block;
    padding-top: 3px;
    color: #aaaaaa;
    font-weight: normal;
}

.field-helper-input {
    padding-left: 0;
    display: block;
    padding-top: 0;
    color: #aaaaaa;
    font-weight: normal;
    margin-top: -5px;
}


.insured-title b {
    font-weight: normal;
    color: #aaaaaa;
}

.motor-quote-result-brand-logo-container {
    height: 60px;
    margin-bottom: 18px;
}

.motor-quote-premium {
    font-size: 19px !important;
    font-weight: 600 !important;
    margin: 10px 0 !important;
    letter-spacing: 0.5px !important;
}

.motor-quote-diy-points {
    display: block !important;
    color: #5197d5 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    text-align: center !important;
}

.motor-quote-premium-header {
    height: auto !important;
}

.motor-quote-result-block-body {
    margin: 10px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #fc5b6c !important;

    a {
        color: #fc5b6c !important;
        text-decoration: underline;
    }
}

.motor-quote-result-block-header {
    margin: 0 10px 5px !important;
    height: auto !important;
}

.motor-quote-result-block-footer {
    .motor-btn {
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0;
        color: #fff;
        background-color: #fc5b6c;
        border: none;
        padding: 10px 20px;
        word-spacing: 5px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
        width: 100%;
    }
    .motor-btn.btn-disabled {
        cursor: no-drop;
        background-color: #b0b0b0;
    }
}

.motor-quote-result-middle-wrapper.fixed {
    text-align: right;
    margin-top: 10px;
    position: sticky;
    z-index: 99;
    left: auto;
    right: auto;
    width: 958px;
    transition: all 0.3s;
    top: 0;
}

@media only screen and (min-width: 1200px) {
    .motor-quote-result-middle-wrapper.fixed {
        top: 111px;
    }
}

.motor-result-row.fixed {
    transition: all 0.3s;

    .motor-quote-premium {
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
    }
}

@media only screen and (min-width: 1200px) {
    .motor-result-row.fixed {
        top: 125px;
    }
}

.motor-result-divider {
    background-color: #fff;
}

#content {
    div.insurediy-form.montserat-font.main-form {
        div.motor-quote-result-middle-wrapper {
            div.motor-result-table {

                padding: 0 2%;

                div.motor-result-row {
                    div.motor-result-column {
                        height: auto;
                        width: 100%;
                    }

                    div.motor-result-column-dummy {
                        opacity: 0;
                    }

                    div.motor-result-column-title {
                        background-color: #f4f4f4;
                    }

                    div.motor-result-column-spacer {
                        width: 8px;
                        min-width: 8px;
                        max-width: 8px;
                        opacity: 0;
                    }
                }

                div.motor-quote-result-bottom-wrapper {
                    overflow: visible;
                }

                .comparison-table-title {
                    position: sticky;
                    left: 0;
                    background-color: #5197d5;
                    color: #fff;
                    padding: 9px 20px;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 16px;
                    font-weight: 500;
                    transition: 0.4s;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.height-auto {
    height: auto !important;
}

.not-final {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #fc5b6c;
    font-size: 14px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.input-title {
    display: block !important;
    font-weight: 600 !important;
}

.gender-wrapper {
    height: 130px !important;
}

.tab-content-container {
    padding-left: 0 !important;
}

.insurediy-form .input-container-block .calendar-input {
    width: 300px !important;
    height: 28px !important;
}

.panel-left {
    margin-top: 0 !important;
}

.radio-label,
.radio-label-long {
    width: auto !important;
}

.seat {
    height: 145px !important;

    .radio-label-title {
        padding: 0 15px;
    }
}

.seat .radio-label,
.ncd .radio-label,
.seat .radio-label-long,
.ncd .radio-label-long {
    margin-bottom: 10px;
}

.radio-label-title {
    padding: 0 10px;
}

.damage .radio-label-title {
    padding: 0 15px;
}

.ncd {
    height: 168px !important;
    width: 275px;

    .radio-label-title {
        width: 73px;
    }
    
    .radio-label-title {
        height: auto;
        line-height: 30px;
    }
}

.input-title.long {
    line-height: 19px;
    white-space: initial;
    margin-bottom: 10px;
}

.past3yrs {
    height: 95px;
}

.input-wrapper.damage-title {
    height: 25px;
}

.optional-cover {
    .input-title {
        line-height: 20px !important;
        white-space: initial !important;
        height: auto !important;
        margin-bottom: 10px;
    }
    
    .input-wrapper {
        height: auto !important;
    }
}

.optional-cover .input-container-block,
.relative {
    position: relative;
}

i.rm {
    font-style: initial;
    position: absolute;
    left: 9px;
    top: 10px;
    color: #959595;
    font-size: 12px;
    line-height: 11px;
}

#dialog-alert-login {
    width: 350px;
    margin-left: -174px;
    top: 15%;
    padding: 20px;

    .modal-header {
        padding-bottom: 0;
    }
    
    .modal-body {
        color: #222;
        margin-top: 0;
        overflow: hidden;
    }
    
    .tab-header-container {
        width: auto;
        height: auto;
        margin: 0;
    }

    .insurediy-form {
        background-color: transparent;
        border: none;
        margin: 0;
        box-shadow: none;
    }

    .input-wrapper {
        padding: 0;
    }

    .motor-btn-wrapper {
        width: auto;
        padding-bottom: 0;
    }

    .motor-btn-wrapper button {
        padding: 10px 20px;
    }
}

#dialog-alert-login .tab-content-container,
.login-section .tab-content-container {
    padding: 0;
    margin-top: 20px;
}

#dialog-alert-login .input-wrapper .input-title,
#dialog-alert-login .tab-pane-title,
.login-section .tab-pane-title {
    font-size: 12px;
}

.w-100 {
    width: 100% !important;
}

#register-panel .insurediy-form,
.login-section .insurediy-form {
    background-color: transparent;
    border: none;
    margin: 0;
    box-shadow: none;
}

#dialog-alert-login .red-text.no-continue,
.login-section .no-continue {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: #FB5A6E;
}

.motor-form-input-wrapper.login-section .tab-header-container {
    width: auto;
    height: auto;
    margin: 0;
}

.motor-form-input-wrapper.login-section .red-text,
.login-section .red-text {
    color: #FB5A6E;
    font-weight: 600;
    margin-bottom: 20px;
}

.motor-form-input-wrapper.login-section {
    #login-panel .input-wrapper {
        padding: 0;
        display: inline-block;
        width: 45%;
    }
    
    .back-btn {
        margin-right: 20px;
        padding: 10px 18px 10px 10px;
    }
}

.login-section #register-panel .input-wrapper {
    padding: 0;
    display: inline-block;
    width: 30%;
}

#promo_code {
    width: 184px;
    height: 38px;
    margin: 0;
}

.red-text {
    color: #FB5A6E;
}

.promo-img {
    width: 30px;
    margin-right: 5px;
    margin-top: -1px;
}

#promo-words {
    font-size: 16px;
    margin-right: 25px;
    font-weight: 500;
    display: inline-block;
    height: 30px;
    position: relative;
    min-width: 325px;

    span {
        position: absolute;
        width: 100%;
        display: block;
        left: 0;
        top: 20px;
    }
}

.share-ref {
    margin-top: 40px;
}

.order-summary .input-wrapper {
    height: auto;
}

.field-title.parent-title {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.current-insurance-summary {
    display: inline-block;
    margin: 30px 0px 20px 30px;
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 25px;
}

.panel-title.one-block {
    display: inline-block;
    margin: 30px 0px 20px 30px;
    width: 100%;
}

.h35 {
    height: 35px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr20 {
    margin-right: 20px;
}

.my-step2,
.my-step3,
.my-step4 {
    display: none;
}

.green-btn {
    background-color: #c6d312 !important;
}

.share-button {
    text-align: center;
}

.share-button a img {
    width: 100px;
    display: inline-block;
    margin: 20px auto;
}

#referral-copy1-wrapper {
    background-color: #fff !important;
}

.promobox1 {
    background-color: #f4f4f4;
    padding: 20px;
    min-width: 703px;
}

.motor-quote-result-middle-wrapper.fixed {
    .motor-quote-result-brand-logo-container {
        height: 17px;

        img {
            width: 67px;
        }
    }
    
    .motor-quote-result-block-footer .motor-btn {
        font-size: 12px;
        padding: 5px 10px;
        width: 110px;
        word-spacing: 0px;
    }
    
    .motor-quote-premium {
        font-size: 15px !important;
    }
    
    .motor-quote-result-block-header {
        width: 110px;
        margin: 5px auto !important;
        padding-bottom: 0;
        border-bottom: none;
    }
    
    .motor-quote-premium {
        margin: 0 !important;
    }
}

#motor-model-select-table {
    width: 100%;

    img {
        width: 100%;
    }
}

.car-model-text {
    margin-left: 11px;
    margin-top: 25px;
}
.f14 {
    font-size: 14px;
}
.text-red {
    color: #fc5b6c;
}
  
.round-select .select2-container--default .select2-selection--single {
    border: 1px solid #bababa;
    border-radius: 5px;
}
img.insurer-logo {
    width: 70% !important;
    margin: 10px auto;
    display: block;
}
.choose-all {
    font-size: 12px;
    font-weight: normal;
    margin-left: 11px;
    margin-bottom: 25px;
}
.insurediy-form .input-text {
    padding: 3px 10px !important;
    margin-top: -3px !important;
    border: 1px solid #a8a8a8 !important;
    border-radius: 5px !important;
    padding-top: 5px !important;
}
  
.select2-container--default .select2-selection--single {
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    margin-top: 5px;
} 
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 8px;
}

.select2-container .select2-selection--single {
    height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
}
.insurediy-form .input-text.with-rm {
    padding-left: 32px !important;
}
.radio-label-title {
    border-radius: 5px;
}

.my-transition-ease-in-out {
    transition: all 0.3s ease-in-out;
}

.my-transition {
    transition: all 0.3s ease;
    visibility: visible;
    opacity: 1;
}

.my-transition.my-transition-hide {
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.first-accordion-margin-top {
    margin-top: 100px !important;
}

body > div.loadingoverlay {
    z-index: 499 !important;
}

body > div.loadingoverlay.mainLoading {
    z-index: 500 !important;
}

.motor-form-input-wrapper div.panel.my-step2 {
    padding-bottom: 0;
}

.cc-input.model-select {

    position: relative;

    .cc-pointer {

        position: absolute;
        left: 180px;
        top: -100px;
        z-index: 999;

        img.region {
            width: 350px !important;
            max-width: none;
            left: 180px;
            border: 3px solid #3293ff;
        }

        img.region-mark {
            left: 150px;
            top: 108px;
            width: 120px !important;
            height: 12px;
            position: absolute;
        }
        
        .dir {
            left: -40px;
            top: 102px;
            height: 0;
            width: 0;
            overflow: hidden;
            font-size: 0;
            line-height: 0;
            border-width: 20px;
            position: absolute;
            border-color: transparent #3293ff transparent transparent;
            border-style: solid dashed dashed dashed;
        }
    }

    .cc-pointer.cc-pointer-left {
        right: 180px;
        left: auto;
        
        .dir {
            right: -40px;
            left: auto;
            border-color: transparent transparent transparent #3293ff;
        }
    }

}

.comparison-table-icon.fa-check {
    color: #c6d312 !important;
}

.comparison-table-icon.fa-times {
    color: #fc5b6c !important;
}


.insurediy-form input.input-text {
    color: #000;
}
.insurediy-form input.input-text:disabled {
    color: #a7a7a7;
}

